
html {
    background-color: lightgray;
}

    body {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 50px 0 50px;
        text-align: justify;
        text-justify: inter-word;
    }
    img{

    }
.bio-list {
    align-content: center;
   color: saddlebrown;
    }